<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
    
    <bean id="iAccountService"
        class="com.iceroom.fundamental.service.impl.AccountService"
        p:userDao-ref="iUserDao"
        p:roleDao-ref="iRoleDao"
        p:employerDao-ref="iEmployerDao"
        p:candidateDao-ref="iCandidateDao"
        p:empHistoryDao-ref="iEmpHistoryDao"
        p:eduHistoryDao-ref="iEduHistoryDao"
        p:emailService-ref="iEmailService"
        p:employerApplicationDao-ref="iEmployerApplicationDao"
    />
    
    <bean id="iCandidateService"
        class="com.iceroom.fundamental.service.impl.CandidateService"
        p:userDao-ref="iUserDao"
        p:candidateDao-ref="iCandidateDao"
        p:classifDao-ref="iClassifDao"
        p:empHistoryDao-ref="iEmpHistoryDao"
        p:eduHistoryDao-ref="iEduHistoryDao"
        p:invitationDao-ref="iInvitationDao"
        p:avatarPath="/home/freesta/appservers/apache-tomcat-7.0.42/webapps/ROOT/res/avatar/"
        p:cvFilePath="/home/freesta/appservers/apache-tomcat-7.0.42/webapps/ROOT/WEB-INF/cv/"
        p:accountService-ref="iAccountService"
        p:feedbackDao-ref="iFeedbackDao"
    />
    
    <bean id="iClassifService"
        class="com.iceroom.fundamental.service.impl.ClassifService"
        p:classifDao-ref="iClassifDao"
    />
    
    <bean id="iEmployerService"
        class="com.iceroom.fundamental.service.impl.EmployerService"
        p:userDao-ref="iUserDao"
        p:employerDao-ref="iEmployerDao"
        p:invitationDao-ref="iInvitationDao"
        p:classifDao-ref="iClassifDao"
        p:candidateDao-ref="iCandidateDao"
        p:cvFilePath="/home/freesta/appservers/apache-tomcat-7.0.42/webapps/ROOT/WEB-INF/cv/"
        p:emailService-ref="iEmailService"
        p:feedbackDao-ref="iFeedbackDao"
        p:accountService-ref="iAccountService"
    />
    
    <bean id="iAdminService"
        class="com.iceroom.fundamental.service.impl.AdminService"
        p:userDao-ref="iUserDao"
        p:employerDao-ref="iEmployerDao"
        p:categoryDao-ref="iCategoryDao"
        p:postDao-ref="iPostDao"
        p:miniPicPath="/home/freesta/appservers/apache-tomcat-7.0.42/webapps/ROOT/res/miniPic/"
        p:postPicPath="/home/freesta/appservers/apache-tomcat-7.0.42/webapps/ROOT/res/postPic/"
        p:employerApplicationDao-ref="iEmployerApplicationDao"
        p:feedbackDao-ref="iFeedbackDao"
    />
    
    <bean id="iGeneralService"
        class="com.iceroom.fundamental.service.impl.GeneralService"
        p:postDao-ref="iPostDao"
    />
    
    <bean id="iPaymentService"
        class="com.iceroom.fundamental.service.impl.PaymentService"
        p:userDao-ref="iUserDao"
        p:candidateDao-ref="iCandidateDao"
        p:paymentHistoryDao-ref="iPaymentHistoryDao"
    />
    
    <bean id="iEmailService"
        class="com.iceroom.fundamental.service.impl.EmailService"
        p:sender="no-reply@newad.com.au"
        p:password="111111"
        p:smtp="mail.newad.com.au"
    />
    
</beans>