@import url(global.css);
@import url(template_default.css);

.text {
    margin-left:0px;
    margin-top:10px;
    text-align:center;
    width: 371px;
    height:400px;
    background: url(/res/image/hireme.jpg) no-repeat;
}
.text1 {font-size:65px;font-weight:700;line-height:100px;color:#000;letter-spacing:0px;display:block;margin-top: 50px;}
.text1 span {display:block;font-size:25px;line-height:30px;margin-top:-17px;letter-spacing:0px;padding-bottom:20px;}
.text .button {
    display:inline-block;
    font-size:30px;
    font-weight:700;
    color:#fff;
    line-height:53px;
    padding:0 37px;
    background:url(/res/image/button_bg.gif) top repeat-x #308da2;
    border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;
    position:relative;
    text-decoration:none;
    margin-top: 340px;
}

.text .button:hover {background:#696969}

#content {
    background: url(/res/image/bg_cont.gif);
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #ccc;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:1px 1px 2px #cfcfcf;-moz-box-shadow:1px 1px 2px #cfcfcf;-webkit-box-shadow:1px 1px 2px #cfcfcf;behavior:url(js/PIE.htc);
    /*margin-right:4px;background:url(/res/image/bg_cont.gif) bottom repeat-x #fff;border:1px solid #ccc;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:1px 1px 2px #cfcfcf;-moz-box-shadow:1px 1px 2px #cfcfcf;-webkit-box-shadow:1px 1px 2px #cfcfcf;behavior:url(js/PIE.htc);position:relative*/
}

.box h2 {padding:10px 0 16px 0}

.pad {padding:0 30px 0 35px}
.pad_left1 {padding-left:55px}
.pad_left2 {padding-left:45px}
.marg_right1 {margin-right:12px}
.marg_right2 {margin-right:18px}
.pad_bot1 {padding-bottom:35px}
.pad_bot2 {padding-bottom:49px}
.pad_bot3 {padding-bottom:7px}
.pad_bot4 {padding-bottom:17px}
.marg_top {margin-top:17px}
.marg_top2 {margin-top:7px}
.box {background:#f5f5f5;behavior:url(js/PIE.htc);position:relative;width:100%;overflow:hidden}
.box.top {border-radius:10px 10px 0 0;-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0;behavior:url(js/PIE.htc)}
.box.bot {border-radius:0 0 11px 11px ;-moz-border-radius:0 0 11px 11px;-webkit-border-radius:0 0 11px 11px;behavior:url(js/PIE.htc)}
.banners {padding:19px 0 19px 19px;overflow:hidden}
.banners li {width:210px;float:left;padding-right:12px}
.banners p {
    font-size: 13px;
}
.banners img {
    margin-top: -15px;
}
.banners p.font1 {font-size: 14px; font-weight:bold;color:#318ea2;}
.banners .marker {background:url(/res/image/marker_1.gif) no-repeat}
.banners .marker:hover {background:url(/res/image/marker_3.gif) no-repeat}
.banners .pad {padding:0px}
.marker {display:inline-block;background:url(/res/image/marker_3.gif) no-repeat;width:17px;height:17px;}
.marker:hover {display:inline-block;background:url(/res/image/marker_1.gif) no-repeat;width:17px;height:17px}
.line1 {background:url(/res/image/line_ver1.gif) 250px 0 repeat-y;padding:7px 0}
.under {padding-bottom:17px;border-bottom:1px solid #ddd;margin-bottom:17px}
.color1 {color:#308da2}
.list1 li {line-height:20px}
.list1 li a {padding-left:20px;background:url(/res/image/marker_2.gif) 5px 5px no-repeat}

.box {
    background: #f4f4f4;
}

#announcement {
    padding-left: 30px;
    width: 500px;
    float: left;
    font-size: 14px;
    font-weight: bold;
}

#announcement .center {
    text-align: center;
    font-size: 18px;
    color: #ff0000;
}

#announcement .note {
    font-size: 12px;
    color: #666;
    font-weight: normal;
}

#announcement a:link, #announcement a:visited, #announcement a:active {
    color: #ff0000;
}

h2 {
    margin-top: 5px;
    margin-bottom: -10px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 35px;
    font-weight: normal;
    line-height: 35px;
}

#announcement .content {
    padding-bottom: 15px;
}

#announcement .content p {
    margin-top: 0px;
    line-height: 18px;
    padding-top: 0px;
}

#latest {
    width: 330px;
    margin-left: 60px;
    float: left;
}

#latest .project {
}

#latest .project img {
    float: left;
}

#latest .project p {
    margin-left: 10px;
    margin-top: 25px;
    float: left;
    width: 200px;
}

#latest .project .marker {display:inline-block;background:url(/res/image/marker_3.gif) no-repeat;width:17px;height:17px;margin-left: 10px;}
#latest .project .marker:hover {display:inline-block;background:url(/res/image/marker_1.gif) no-repeat;width:17px;height:17px}

.wrapper .cycle-slideshow, .wrapper .text {
    float: left;
}