@import url(global.css);
@import url(template_default.css);

#content {
    background: url(/res/image/bg_cont.gif);
    width: 920px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #ccc;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:1px 1px 2px #cfcfcf;-moz-box-shadow:1px 1px 2px #cfcfcf;-webkit-box-shadow:1px 1px 2px #cfcfcf;behavior:url(js/PIE.htc);
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#content #title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #3691A6;
    margin-bottom: 20px;
}

p {
    margin-left: 60px;
    margin-right: 60px;
    line-height: 25px;
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

section ul {
    list-style-type: circle;
    margin-left: 30px;
}

section ul li {
    margin-left: 30px;
    line-height: 25px;
}

#title {
    height: 40px;
    line-height: 40px;
    width: 750px;
    background-position: right;
    background-repeat: no-repeat;
    text-indent: 40px;
}

.last {
    margin-bottom: 40px;
}