@import url(global.css);
@import url(template_default.css);

#content {
    background: url(/res/image/bg_cont.gif);
    width: 700px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #ccc;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px;box-shadow:1px 1px 2px #cfcfcf;-moz-box-shadow:1px 1px 2px #cfcfcf;-webkit-box-shadow:1px 1px 2px #cfcfcf;behavior:url(js/PIE.htc);
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#content #title {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #3691A6;
    margin-bottom: 20px;
}

#content .row {
    margin-left: 60px;
}

#content .row .label {
    float: left;
    height: 30px;
    line-height: 30px;
    width: 140px;
    font-weight: bold;
}

#content .row label {
    margin-left: 5px;
    color: #ff6633;
    font-size: 13px;
}

#content .row .field {
    float: left;
    height: 30px;
    line-height: 30px;
}

#content input {
    color: #003333;
    border: 1px solid #999;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    width: 200px;
}

#content input[type="submit"] {
    background-color: #3691A6;
    color: #fff;
    height: 30px;
    line-height: 18px;
    width: 120px;
}

#content input[type="submit"]:hover {
    background-color: #cc6600;
    color: #fff;
    cursor: pointer;
}

#content .omega {
    margin-top: 10px;
}

#content #note {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.significant {
    color: #FF0000;
    font-weight: bold;
}