@import url(/res/css/global.css);
@import url(/res/css/template_default.css);

#top_bar {
    height: 22px;
    line-height: 22px;
    background: #2c2c2c;
}

#top_bar .greeting {
    float: right;
    text-align: right;
    margin-right: 0px;
    color: #CCC;
}

#top_bar .signout {
    float: right;
    width: 100px;
    margin-right: 0px;
    text-align: right;
}

#top_bar .signout a:link, #top_bar .signout a:visited, #top_bar .signout a:hover, #top_bar .signout a:active {
    color: #50a6b7;
}

#pad {
    margin-top: 20px;
    border: 1px solid #999;
    background: #fff;
    padding: 15px;
}

#pad h2 {
    margin: 0;
    font-size: 20px;
    float: left;
    height: 30px;
    line-height: 30px;
}

#pad .backward {
    float: left;
    margin-left: 80px;
    height: 30px;
    line-height: 30px;
}

.note {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    font-size: 16px;
    line-height: 24px;
}

.pay_wrapper .pay_option {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 300px;
    float: left;
}

.pay_wrapper .op1 {
    margin-left: 60px;
}

.pay_wrapper .op2, .pay_wrapper .op3 {
    margin-left: 80px;
}

.pay_wrapper .pay_option .header {
    height: 50px;
    line-height: 50px;
    background-color: #ff6633;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.pay_wrapper .pay_option .body {
    height: 200px;
    background-color: #ffcc99;
}

.pay_wrapper .pay_option .footer {
    height: 50px;
    line-height: 50px;
    background-color: #ff6633;
    text-align: center;
}

.curr_status {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
}